@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --acent-color: #2c73a9;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(
    --primary-text-color
  ); /*var function is used to insert the property of css variable.*/
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}
/* top banner */

.top-banner {
  background-color: #e74694;
  background-image: url("./photos/asset\ 32.png");
  background-size: 300px;
}

.banner-text {
  color: white;
  text-align: center;
  padding: 15px 25px;
}

/* main nav */

.company-logo img {
  width: 150px;
}

.main-nav {
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.nav-links {
  flex-basis: 730px;
  align-items: center;
  gap: 20px;
}

.nav-links ul {
  justify-content: end;
  gap: 30px;
}

.secondary_button,.primary_button{
  padding:  10px 25px  !important;
}

.hamburger_icon>img{
  width: 20px;
}

.hide{
  display: none;
}
/* hero */

.hero {
  justify-content: space-between;
  margin-top: 60px;
}

.hero_text {
  margin-top: 40px;
  text-align: left;
  width: 370px;
}

.hero_text_para {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hero_img img {
  width: 500px;
}

/* company */

.companies-section {
  margin-top: 80px;
}

.companies-section p {
  text-align: center;
}

.companies-logo {
  margin-top: 20px;
  justify-content: space-evenly;
}

.companies-logo img {
  width: 100px;
  height: 60px;
}

/* feature section */

.feature-section {
  width: 100%;
  background-image: url(./photos/asset\ 30.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  text-align: center;
}

.feature-img img {
  width: 40px;
}

.allfeature {
  padding-top: 40px;
  text-align: center;
}

.allfeature a {
  margin-top: 15px;
}

.features {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feature_box {
  margin: 30px 10px;
  width: 300px;
}

/* big feature section */

.bigFeature-section {
  margin-top: 80px;
  justify-content: space-between;
}

.bigFeature-content {
  flex-direction: column;
  align-items: start;
}

.bigFeature-content p {
  margin: 10px 0px;
}

.bigFeature-img img {
  width: 75%;
}

.bigFeature-content img {
  /* the economist group */
  margin: 10px 0px;
  width: 120px;
}

.marketers {
  justify-content: end;
}

/* example section */

.examplebar {
  text-align: center;
  margin-bottom: 40px;
}

.example-section {
  margin-top: 80px;
}

.examplePhotos {
  margin-top: 20px;
  justify-content: space-evenly;
}

.Exampleimage {
  align-items: end;
  width: 24%;
  height: 400px;
}

.Exampleimage h3 {
  text-shadow: 1.5px 1.5px rgb(104, 102, 102);
  color: rgb(255, 255, 255);
  padding: 10px;
}

.ExImage1 {
  background-image: url("./photos/exampleImage1.jpeg");
  background-size: cover;
}

.ExImage2 {
  background-image: url("./photos/exampleImage2.jpeg");
  background-size: cover;
}

.ExImage3 {
  background-image: url("./photos/exampleImage3.jpeg");
  background-size: cover;
}

.ExImage4 {
  background-image: url("./photos/exampleImage4.jpeg");
  background-size: cover;
}

/* cta section */
.cta-section {
  margin-top: 80px;
  background-color: var(--primary-text-color);
}

.cta-content {
  margin-top: 50px;
}

.cta-section h2 {
  color: white;
}

.cta-section P {
  padding: 15px 0;
}

.cta-img img {
  width: 100%;
}

/* footer */
footer {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

footer h1 {
  padding: 10px;
}

footer p {
  padding-bottom: 20px;
}

/* utility classes */

ul {
  list-style: none;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 80%;
  margin-inline: auto;
  /* padding-inline: var(--padding-inline-section); */
}

.flex {
  display: flex;
  /* text-align: center; */
}

.hover-links {
  color: var(--primary-text-color);
}

.hover-links:hover {
  color: var(--acent-color);
}

.primary_button {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
  background-color: #2294ed;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 1px 2px gray;
  color: white !important;
}

.primary_button:hover {
  background-color: var(--acent-color);
}

.secondary_button {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: 1px gray solid;
  border-radius: 3px;
  box-shadow: 1px 1px 2px gray;
}

.secondary_button:hover {
  border-color: #183b56;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .nav-links {
    /* upper link are not shown due to this */
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    line-height: 1.5rem;
  }

  .container {
    max-width: 95%;
  }

  .hero_text {
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }

  .hero_img img {
    width: 80%;
  }

  .hero_img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .companies-logo img {
    width: 70px;
    height: 40px;
  }

  .examplePhotos img {
    width: 175px;
  }
}

@media screen and (max-width: 426px) {
  .hero {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .companies-logo {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
  }

  .companies-logo img {
    width: 90px;
    max-height: 76px;
  }

  .feature-section {
    background: none;
  }

  .bigFeature-section {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .bigFeature-content {
    text-align: center;
  }

  .bigFeature-img img {
    width: 100%;
  }

  .marketingBoy {
    flex-direction: column-reverse;
  }

  .examplebar a {
    margin-top: 10px;
  }

  .examplePhotos {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
  }

  .Exampleimage {
    width: 100%;
    height: 200px;
  }

  .Exampleimage h3 {
    font-size: 1.3rem;
  }

  .cta-section .flex {
    flex-direction: column-reverse;
    padding: 20px 0px;
  }

  .cta-content {
    text-align: center;
  }
}

/* footer section */

.footer {
  background-color: #ebf2fa;
  color: #577592;
  width: 100%;
  bottom: 0;
  left: 0;
}

 h4 {
  color: #183b56 ;
}

.footer .heading {
  color: #183b56;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #577592;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}
